{% extends 'base.html' %}

{% block conteudo %}

<h2>Editar Link</h2>

<form method="POST">

    <input type="text"
           name="nome"
           class="form-control mb-2"
           value="{{ link.nome }}"
           required>

    <input type="url"
           name="url"
           class="form-control mb-2"
           value="{{ link.url }}"
           required>

    <input type="text"
           name="categoria"
           class="form-control mb-2"
           value="{{ link.categoria }}">

    <button class="btn btn-success">
        Salvar Alterações
    </button>

</form>

{% endblock %}